@import "../../assets/styles/theme";

.listElement{
  margin-right: 70%;
  margin-bottom: 1%;
  font-weight: bold;
}

.listStyle {
  list-style: none;
  margin-left: 44%;
  margin-top: 1%;
}

.buttonStyle {

}

.Checkbox {
}